body{
  background-image: url(C:\Users\Div\Pictures\FREE HD WALLPAPERS\div.jpg);
    /* background-color: rgb(165, 58, 58); */
  }
  
  
  h1{
    color:rgb(238, 12, 31);
    background-color:pink;
    text-align: center;
    
  }
  h2{
    color:rgb(238, 12, 31);
    background-color:aqua;
    text-align: center;
  }