
.diva1{
    font-size:-large;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: auto;
    padding-left: 250px;
    padding-top: 25px;
}
#ku{
  padding-left: 290px;
  
}
